@use "variables" as *;
@use "mixins" as *;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin: 5px;
}

footer {
    @include flex-between;
    background-color: $color-secondary;
    color: $color-text;

    p {
        margin: 10px;
        font-size: 14px;
    }
}