// Kolory
$color-primary: #f37b2b;
$color-secondary: #ffcc80;
$color-bg: #fffaf5;
$color-text: #333;

// Fonty
$font-family-base: 'Inter', 'Segoe UI', sans-serif;

// Breakpointy
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

// Spacing
$spacing-unit: 8px;