name: Build

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      
      - name: Set up Node for front-end lint
        uses: actions/setup-node@v4
        with:
          node-version: 18
      
      - name: Lint Frontend
        working-directory: ./frontend
        run: |
          npm ci
          npm run lint
      
      - name: Test Frontend
        working-directory: ./frontend
        env:
          CI: true
        run: |
          npm test

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build, Test & SonarCloud
        run: |
          mvn -B clean verify sonar:sonar \
            -Dsonar.projectKey=ziemastz_przepisnik \
            -Dsonar.organization=ziemastz \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
