name: Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build with Maven & Tests
        run: mvn -B clean verify
      
      - name: Analyze with SonarCloud
        run: | 
          mvn -B verify sonar:sonar \
            -Dsonar.projectKey=ziemastz_przepisnik \
            -Dsonar.organization=ziemastz \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}